{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div id="app">

<div class="containeer">

<div class="row wrapper">

  <div class="col-sm-12 col-md-12">
    <div class="row">
    	
      <div class="col-12 mb-1">
        <div class="content">
        	
        	<div class="card">
		        <div class="card-body">
              <h4>Import Order List</h4>

              <div>
              <a href="{% url 'bl:list' %}">
                <button type="button" class="btn btn-primary"
                {% if not user.profile.approved %}disabled{% endif%}>Bill of Ladding List</button>
              </a>
              <a href="{% url 'profile_setting' %}">
                <button type="button" class="btn btn-primary"
                {% if not user.profile.approved %}disabled{% endif%}>Address List</button>
              </a>
            </div>

		          รายการที่ {{ page_obj.start_index }} ถึง {{ page_obj.end_index }} จากทั้งหมด {{ page_obj.paginator.count }} รายการ <br>
     {% if is_paginated %}
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li><a href="?q={{ request.GET.q}}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?q={{ request.GET.q}}&page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li><a href="?q={{ request.GET.q}}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
      {% endif %}
              <div class="table-responsive-md">
		          <table class="table table-striped">
					  <thead>
					    <tr>
                <th scope="col">Status</th>
                <th scope="col">BL</th>
                <th scope="col">เลขที่ใบขน</th>
                <th scope="col">Ref</th>
                <!-- <th scope="col">Order</th> -->
					      <!-- <th scope="col">booking</th>
                <th scope="col">Ref</th> -->
                <th class="text-center" scope="col">#Container</th>
                <th class="text-right" scope="col">Total Charge</th>
                <th class="text-right" scope="col">Rent</th>
                <th class="text-right" scope="col">Paid Until</th>
                
                <th class="text-center" scope="col">Created</th>

                <!-- <th scope="col">Payment Slip</th>
                
                <th scope="col">Execute Job</th> -->

                {% if perms.order.verify_payment or perms.order.execute_job %}
                  <th scope="col">User</th>
                  <th scope="col">Terminal</th>
                {% endif %}
					      
					    </tr>
					  </thead>
					  <tbody>
		          {% for order in object_list %}
					    <tr>
                <td>
                    <!-- Status -->
                    {% if order.paid %}
                    <!-- New Status -->
                    {% if not order.payment_slip %}
                          <a href="{% url 'orderimport:payslip' order.id %}">
                              <span class="badge badge-danger">Need pay slip</span>
                          </a>
                          <br>
                    {% endif %}
                    {% if not order.do %}
                          <a href="{% url 'orderimport:do' order.id %}">
                              <span class="badge badge-danger">Need D/O</span>
                          </a>
                          <br>
                    {% endif %}
                    
                    {% if order.wht %}
                      {% if not order.wht_slip %}
                            <a href="{% url 'orderimport:whtslip' order.id %}">
                                <span class="badge badge-danger">Need WHT slip</span>
                            </a>
                            <br>
                      {% endif %}
                    {% endif %}
  
                    {% if order.execute_job and order.paid %}
                            
                              <span class="badge badge-success">Order Completed</span>
                    {% endif %}
                    
                    {% if order.do and order.payment_slip and not order.execute_job %}
                            {% if order.wht and order.wht_slip %}
                                {% if perms.order.verify_payment or perms.order.execute_job  %}
                                  <a href="{% url 'orderimport:execute' order.id %}"><span class="badge badge-warning">Waiting for Execution</span></a>
                                {% else %}
                                  <span class="badge badge-warning">Waiting for Execution</span>
                                {% endif %}
                            {% endif %}
                    {% endif %}
                    <!-- End new status -->
  
                <!-- Not Paid -->
                {% else %}
                  <span class="badge badge-secondary">UnPaid</span>
                  
                {% endif %}
                    <!-- End Status -->
                </td>
                <td><a href="{{order.get_absolute_url}}">{{order.bl.name}}</a></td>
                <td class="text-center">{{order.bl.declaration}}</td>
                <td class="text-center">{{order.ref}}</td>
                <td class="text-center">{{order.container_count}}</td>
                 <td class="text-right">{{order.grand_total|floatformat:2|intcomma}}</td>
                 <td class="text-right">
                    {% if order.rent %}
                        <span style="font-size: 1em; color:green;">
                            <i class="fas fa-check-square"></i>
                        </span>
                    {% endif %}
                    </td>
                 <td class="text-right"><span class="badge badge-warning">{{order.paid_until|date:"N d"}}</span></td>
                 <td class="text-right">{{order.created}}</td>

                {% if perms.order.verify_payment or perms.order.execute_job  %}
                    <td>{{order.user}}</td>
                    <td>{{order.bl.terminal}}</td>
                {% endif %}
					      
					    </tr>
					    
		          {% endfor %}
		          </tbody>
					</table>
        </div> <!-- table-responsive -->
		        </div>
		      </div>
        </div>
      </div>

  <!--     <div class="col-12 mb-2" >
        <div class="content">
        	<div class="card">
		        <div class="card-body">
		          <h4>Success Booking</h4>
		          <ul>
		          	<li>#1</li>
		          	<li>#2</li>
		          </ul>
		        </div>
		      </div>
        </div>
      </div> -->
    </div>

  </div>

 <!--  <div class="col-sm-12 col-md-3">
    <div class="sidebar">
    	
		          {% for address in addresses %}
		          	<div class="card mb-2" >
					  <div class="card-body">
					    <a href="{% url 'profile:update' address.pk %}"><h5 class="card-title">{{address}}</h5></a>
					    <p class="card-text">{{address.address}}</p>
					    <p class="card-text"><i>Tax : {{address.tax}}</i></p>
					  </div>
					</div>
		          {% endfor %}
    </div>
  </div>
</div> -->

	
</div>
</div>
{% endblock %}


{% block style %} 
<style type="text/css">
	a:link {
        text-decoration: none;
        color: black;
      }
</style>
{% endblock style %}

