{% extends 'base.html' %}

{% block content %}
<div id="app">
  <v-app>
  <div class="containeer">
  <div class="row wrapper">
    <div class="col-sm-12 col-md-12">
      <div class="row">
      	
        <div class="col-12 mb-1">
          <div class="content">
          	
          	<div class="card">
  		        <div class="card-body">
  		          <h4>Container List</h4>

  		          รายการที่ {{ page_obj.start_index }} ถึง {{ page_obj.end_index }} จากทังหมด {{ page_obj.paginator.count }} รายการ <br>
       {% if is_paginated %}
                    <ul class="pagination">
                      {% if page_obj.has_previous %}
                        <li><a href="?q={{ request.GET.q}}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                      {% endif %}
                      {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                          <li><a href="?q={{ request.GET.q}}&page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                        <li><a href="?q={{ request.GET.q}}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                      {% endif %}
                    </ul>
        {% endif %}
        
  		          <table class="table table-striped table-responsive-md">
  					  <thead>
  					    <tr>
                  <th scope="col">Container</th>
  					      <th scope="col">Order</th>
                  <th scope="col">Size</th>
                  <th scope="col">ISO</th>
                  <th scope="col">Is OOG?</th>
                  <th scope="col">Total</th>
                  <!-- <th scope="col">User</th> -->
  					      <th scope="col">Created</th>
  					      
  					    </tr>
  					  </thead>
  					  <tbody>
  		          {% for object in object_list %}
  					    <tr>
                  <td><a href="{{object.get_absolute_url}}">{{object.container}}</a></td>
  					      <td><a href="{{object.order.get_absolute_url}}">{{object.order}}</a>
                    {% if object.order.paid %}
                              <span class="badge badge-success">Paid</span>
                            {% else %}
                              <span class="badge badge-secondary">UnPaid</span>
                              
                            {% endif %}
                  </td>
                  <td>{{object.cont_size}}</td>
                  <td>{{object.iso}}</td>
                   <td>{{object.is_oog}}</td>
                   <td>{{object.total}}</td>

                    

                  <!-- <td>{{object.user}}</td> -->
  					      <td>{{object.created}}</td>
                 
  					    </tr>
  					    
  		          {% endfor %}
  		          </tbody>
  					</table>
  		        </div>
  		      </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  </div>
</div> <!-- end app -->
{% endblock %}


{% block style %} 
<style type="text/css">
	a:link {
        text-decoration: none;
        color: black;
      }
</style>
{% endblock style %}

