{% extends 'base.html' %}
 {% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2>Update WHT Slip</h2>
          <a href="{% url 'order:detail' object.id %}">Back</a>
          
              {% if object.wht_slip %}
                <div class="alert alert-info" role="alert">
                  Payment Confirmed on : {{object.payment_date}} (BankRef : {{object.payment_ref}})
                   Verified by {{object.payment_inspector}}
                </div>
                {% if object.wht_slip.url %}
                <img src="{{object.wht_slip.url}}" class="card-img-top" alt="...">
                {% endif %}
              {% endif %}

            <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" value="Update" class="btn btn-primary" 
            {% if object.execute_job %}disabled{% endif %}>Update WHT Slip</button>
          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block style %} 
<style type="text/css">
	a:link {
        text-decoration: none;
        color: black;
      }
</style>
{% endblock style %}