{% extends 'base.html' %}

{% block content %}
<div id="app">

<div class="containeer">

<div class="row wrapper">

  <div class="col-sm-12 col-md-12">
    <div class="row">
    	
      <div class="col-12 mb-1">
        <div class="content">
        	
        	<div class="card">
		        <div class="card-body">
		          <h4>Order List</h4>

		          รายการที่ {{ page_obj.start_index }} ถึง {{ page_obj.end_index }} จากทังหมด {{ page_obj.paginator.count }} รายการ <br>
     {% if is_paginated %}
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li><a href="?q={{ request.GET.q}}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?q={{ request.GET.q}}&page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li><a href="?q={{ request.GET.q}}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
      {% endif %}
              <div class="table-responsive-md">
		          <table class="table table-striped">
					  <thead>
					    <tr>
                <th scope="col">Paid</th>
                <th scope="col">Order</th>
					      <!-- <th scope="col">booking</th>
                <th scope="col">Ref</th> -->
                <th scope="col">#Container</th>
                <th scope="col">Total Charge</th>
                
                <th scope="col">Created</th>

                {% if perms.order.verify_payment %}
                  <th scope="col">Slip</th>
                  <th scope="col">Execute Job</th>
                {% endif %}
					      
					    </tr>
					  </thead>
					  <tbody>
		          {% for order in object_list %}
					    <tr>
                <td>
                    {% if order.paid %}
                      <a href="{% url 'order:payslip' order.id %}">
                        <span class="badge badge-success">Paid</span>
                      </a>
                    {% else %}
                      <span class="badge badge-secondary">UnPaid</span>
                    {% endif %}
                  </td>
                <td><a href="{{order.get_absolute_url}}">{{order.name}}</a></td>
                <td>{{order.container_count}}</td>
                 <td>{{order.grand_total}}</td>
					      <td>{{order.created}}</td>
                {% if perms.order.verify_payment or perms.order.execute_job  %}
                    {% if order.payment_slip %}
                      <td>Yes</td>
                    {% else %}
                      <td>No</td>
                    {% endif %}

                    {% if order.execute_job %}
                      <td>Yes</td>
                    {% else %}
                      <td><a href="{% url 'order:execute' order.id %}">No</a></td>
                    {% endif %}

                {% endif %}
					      
					    </tr>
					    
		          {% endfor %}
		          </tbody>
					</table>
        </div> <!-- table-responsive -->
		        </div>
		      </div>
        </div>
      </div>

  <!--     <div class="col-12 mb-2" >
        <div class="content">
        	<div class="card">
		        <div class="card-body">
		          <h4>Success Booking</h4>
		          <ul>
		          	<li>#1</li>
		          	<li>#2</li>
		          </ul>
		        </div>
		      </div>
        </div>
      </div> -->
    </div>

  </div>

 <!--  <div class="col-sm-12 col-md-3">
    <div class="sidebar">
    	
		          {% for address in addresses %}
		          	<div class="card mb-2" >
					  <div class="card-body">
					    <a href="{% url 'profile:update' address.pk %}"><h5 class="card-title">{{address}}</h5></a>
					    <p class="card-text">{{address.address}}</p>
					    <p class="card-text"><i>Tax : {{address.tax}}</i></p>
					  </div>
					</div>
		          {% endfor %}
    </div>
  </div>
</div> -->

	
</div>
</div>
{% endblock %}


{% block style %} 
<style type="text/css">
	a:link {
        text-decoration: none;
        color: black;
      }
</style>
{% endblock style %}

