{% extends 'base.html' %}
 {% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2>Delete Confirmation</h2>
            <a href="{% url 'order:detail' object.id %}">back</a>
           

            <form method="post" novalidate>{% csrf_token %}
              <p>Are you sure you want to delete "{{ object }}"?</p>
              <input type="submit" class="btn btn-danger" value="Confirm">
          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block style %} 
<style type="text/css">
	a:link {
        text-decoration: none;
        color: black;
      }
</style>
{% endblock style %}