{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<script>
   const tax_rate = {{tax.tax}};
  const wht_rate = {{tax.wht}};
  var people = '{{ items_json|safe }}';
  const export_url = '{{export_booking_url}}';
  // var address_items = '{{addresses_items|safe}}';
  const import_url = '{{import_url}}';
  const bl_input = '{{ object.name }}';
  var address_url = '{{address_url}}';
</script>

<div id="app">
  <v-app>
    <div class="containeer">
  <div class="row wrapper">

    <div class="col-sm-12 col-md-12">
      <div class="row">	
        
        <div class="col-12 mb-1">
          <div class="content">
          	<div class="card">
  		        <div class="card-body">
                <h4>Bill of Ladding : [[bl_number]] <a href="{% url 'bl:delete' object.id %}"><button type="button" class="btn btn-danger">Delete</button></a></h4>
                <span>Created on : {{object.created}} ({{object.created|naturaltime}})</span>
                <br>
                <a href="{% url 'bl:list' %}">กลับหน้าหลัก</a>

                <div>เลขที่ใบขน : {{object.declaration}}
                  <v-chip
                  class="ma-2"
                  color="primary"
                  >
                  {{object.declaration_status|default_if_none:"ไม่ทราบสถานะ"}}
                  </v-chip>

                </div>
                
                

                <button type="button" class="btn btn-success mb-2" v-on:click="get_data(bl_number)">Get Container</button>
                
                

                <div class="text-center">
                  <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
                    v-if="loading"
                  ></v-progress-circular>
                </div>
                
                <div v-if="containers">

                  <div v-if ="containers.length > 0" >
                          
                    <v-alert v-if="is_payable"
                      color="red"
                      border="left"
                      elevation="2"
                      colored-border
                      icon="mdi-alert"
                      >
                      ไม่สามารถดำเนินการชำระได้ ระบบจะชำระได้เฉพาะตู้ที่เป็นชนิด DV และ RE เท่านั้น
                    </v-alert>

                    

                  </div>

                <template v-if="containers.length > 0" >
                  
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-menu
                        v-model="menu2"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="date"
                            label="เลือกวันลากตู้ออก"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="date" @input="menu2 = false" :min="nowDate"></v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-spacer></v-spacer>

                   

                  </v-row>
                  <!-- <v-row v-if="containers.length > 0">
                      <v-checkbox v-model="isRent" 
                      class="ml-2" 
                      label="ต่อ Rent"
                      color="success">
                    </v-checkbox>
                  </v-row> -->
                </template>

              <template>
                    <v-card>
                      <v-card-title>
                        Container Details 
                        <v-chip
                        class="ma-2"
                        :color="terminal_color(terminal)"
                        v-if="terminal"
                        >
                          [[terminal]]
                        </v-chip>
                        <v-spacer></v-spacer>
                        <v-text-field
                          v-model="search"
                          append-icon="mdi-magnify"
                          label="Search"
                          single-line
                          hide-details
                        ></v-text-field>
                      </v-card-title>
                   
<!-- show-select -->
                    <v-data-table
                    :items-per-page="50"
                    class="elevation-1"
                    v-model="selected"
                    :headers="headers"
                    :items="containers"
                    :search="search"
                    item-key="container"
                    show-expand
                    class="elevation-1"
                    dense
                    :loading="loading"
                    loading-text="Loading... Please wait"
                  >
                    <template v-slot:item.on_yard="{ item }">
                        <div v-if="item.delivery">
                            <v-chip v-if="item.delivery.out_by" color="gray" dark>
                              [[dWell(item.delivery.datetime_out,item.discharge.datetime_in)]]
                            </v-chip>
                            <!-- Still in yard -->
                            <v-chip v-else color="green" dark>
                              [[dWell(item.delivery.datetime_out,item.discharge.datetime_in)]]
                            </v-chip>
                        </div>
                        <div v-else>
                          <v-chip color="green" dark>
                            On Yard
                        </v-chip>
                        </div>
                    </template>
                    
                    <template v-slot:item.total="{ item }">

                          [[item.total.toLocaleString(undefined, {maximumFractionDigits:2})]]
                        
                   </template>

                    <template v-slot:item.delivery.datetime_out="{ item }">
                        <div v-if="item.delivery">
                          <div v-if="item.delivery.out_by">
                            [[item.delivery.datetime_out]]
                          </div>
                        </div>
                    </template>

                    <template v-slot:expanded-item="{ headers, item }">
                      <td :colspan="8">
                          <v-chip v-if="item.lolo" class="ma-1" color="green" text-color="white">
                            Lift On : [[item.lolo.toLocaleString(undefined, {maximumFractionDigits:2})]]
                            </v-chip>
                          <v-chip v-if="item.relo" class="ma-1" color="green" text-color="white">
                            Relocation : [[item.relo.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>
                          <v-chip v-if="item.rate1" class="ma-1" color="green" text-color="white">
                            Storage (1-7 days) : [[item.rate1.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>
                          <v-chip v-if="item.rate2" class="ma-1" color="green" text-color="white">
                            Storage (8-14 days) : [[item.rate2.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>
                          <v-chip v-if="item.rate3" class="ma-1" color="green" text-color="white">
                            Storage (15 days over) : [[item.rate3.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>
                        </td  >
                    </template>

                      <template v-slot:item.containerdetail_status="{ item }">
                        <div v-if="item.containerdetail_status==4">
                          MTY
                        </div>
                        <div v-if="item.containerdetail_status==7">
                          LCL
                        </div>
                        <div v-if="item.containerdetail_status==8">
                          FCL
                        </div>
                        <div v-if="item.containerdetail_status==9">
                          LCL/CFS
                        </div>
                    </template>
                    </v-data-table>
                    </v-card>
                  </template>
              </div> <!--  End of Container-->
              <div v-else>
                  <!-- Not Found BL -->
                  
                  <v-alert
                      color="red lighten-2"
                      dark
                    >
                    ไม่พบ BL หมายเลข [[bl_number]] อยู่ในระบบ
                    </v-alert>
              </div>
              
            </div>
            </div>
          </div>
        </div>
        </div><!-- End row -->

        <!-- Start Summary -->
        <div v-if="selected.length > 0">

          <template>
            <v-card
              cols="12"
              class="mt-2"
              v-if="selected"
            >
                  <v-card-title>
                    Charge Summary
                  </v-card-title>
                  <v-card-subtitle>
                    [[selected.length]] container(s)
                  </v-card-subtitle>
                  
           
           <v-row no-gutters>

            <v-col
              cols="6"
               md="3"
            >
                <v-card
                  class="pa-2 ma-2"
                  outlined
                >
                  <v-card-title>
                      Lift On
                    </v-card-title>
                    <v-card-text>
                      <p class="display-1 text--primary">
                        [[total_lolo.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </p>
                    </v-card-text>
                </v-card>
            </v-col>
            
            <v-col
              cols="6"
               md="3"
            >
                <v-card
                  class="pa-2 ma-2"
                  outlined
                >
                  <v-card-title>
                      Relocation
                    </v-card-title>
                   
                    <v-card-text>
                      <p class="display-1 text--primary">
                        [[total_relo.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </p>
                    </v-card-text>
                </v-card>
            </v-col>

            <v-col
              cols="6"
               md="3"
            >
              <v-card
                  class="pa-2 ma-2"
                  outlined
                >
                    <v-card-title>
                      Storage
                    </v-card-title>
                    
                    <v-card-text>
                      <p class="display-1 text--primary">
                        [[total_storage.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </p>
                    </v-tacard-text>
                </v-card>
            </v-col>

            <v-col
              cols="6"
               md="3"
            >
              <v-card
                  class="pa-2 ma-2"
                  outlined
                >
                    <v-card-title>
                      Sub-Total
                    </v-card-title>
                   
                    <v-card-text>
                      <p class="display-1 text--primary">
                        [[total_grand.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </p>
                    </v-tacard-text>
                </v-card>
            </v-col>

            <v-col
                      cols="6"
                       md="3"
                    >
                        <v-card
                          class="pa-2 ma-2"
                          outlined
                        >
                          <v-card-title>
                              Vat
                            </v-card-title>
                            <v-card-subtitle>
                              [[tax.tax]]%
                            </v-card-subtitle>
                            <v-card-text>
                              <p class="display-1 text--primary">
                                [[vat_text]]
                              </p>
                            </v-card-text>
                        </v-card>
                    </v-col>

                    <v-col
                      cols="6"
                       md="3"
                    >
                      <v-card
                          class="pa-2 ma-2"
                          outlined
                        >
                            <v-card-title>
                              WHT
                            </v-card-title>
                            <v-card-subtitle>
                              [[tax.wht]]%
                            </v-card-subtitle>
                            <v-card-text>
                              <p class="display-1 text--primary">
                                [[wht_text]]
                              </p>
                            </v-tacard-text>
                        </v-card>
                    </v-col>

            


            <v-col
              cols="6"
               md="3"
            >
              <v-card
                  class="pa-2 ma-2 bg-info"
                  outlined
                >
                  <v-card-title>
                      Grand Total
                    </v-card-title>
                    <v-card-subtitle>
                      Final total
                    </v-card-subtitle>
                    <v-card-text>
                      <p class="display-1 text--primary font-weight-black">
                        [[net_text]]
                      </p>
                    </v-card-text>
                </v-card>
          </v-col>

          </v-row>

          <!-- Start Form -->
          <form action="{% url 'orderimport:post_order' %}" method="post">
            <div class="col-sm-12 col-md-10">
            {% csrf_token %}

                <input type="hidden" name="bl" :value="bl_number">
                <input type="hidden" name="charge" :value="total">
                <input type="hidden" name="grand_total" :value="net">
                <input type="hidden" name="vat_rate" :value="tax.tax">
                <input type="hidden" name="wht_rate" :value="tax.wht">
                <input type="hidden" name="wht" :value="isWht">
                <input type="hidden" name="rent" :value="isRent">
                <input type="hidden" name="containers" :value="selected_json">
                <input type="hidden" name="paid_until" :value="date">
                <input type="hidden" name="seperatebill" :value="isSeperateBill">
                <input v-if ="selected_address" type="hidden" name="address" :value="selected_address.pk">

            
              <div class="form-group">
                <label for="exampleInputEmail1">ที่อยู่สำหรับออกใบเสร็จ</label>
                         <v-autocomplete
                          item-text="company"
                          item-value="pk"
                          :items="address_list"
                          v-model ="selected_address"
                          no-data-text="Not found address"
                          return-object
                        >
                          <template slot='item' slot-scope='data'>
                            [[data.item.company]]
                          </template>
                        </v-autocomplete>


                        <v-list-item 
                          three-line 
                          v-if="selected_address" 
                          outlined
                          color="light-blue lighten-4">
                          <v-list-item-content>
                            <v-list-item-title>Name</v-list-item-title>
                            <v-list-item-subtitle>
                              [[selected_address.company]]
                            </v-list-item-subtitle>

                            <v-list-item-title>Address</v-list-item-title>
                            <v-list-item-subtitle>
                              [[selected_address.address]]
                            </v-list-item-subtitle>

                            <v-list-item-title>Tax</v-list-item-title>
                            <v-list-item-subtitle>
                              [[selected_address.tax]]
                            </v-list-item-subtitle>

                          </v-list-item-content>
                        </v-list-item>
                

                <!-- <select class="form-control" id="address" name="address">
                      {% for address in addresses %}
                        <option value="{{address.pk}}">{{address.company}}</option>
                      {% endfor %}
                    </select>
                <small id="emailHelp" class="form-text text-muted">This address will be printed on receipt</small> -->
              </div>

              <v-checkbox v-model="isWht" 
                  class="ml-2" 
                  label="หักภาษี ณ ที่จ่าย"
                  color="success">
              </v-checkbox>

              <button type="submit" class="btn btn-primary" :disabled="net == 0 || selected_address == null || is_payable">Continue Payment ([[net_text]] Baht)</button>
            </div>

            
          </form>
          <!-- End form -->

          </template>

          
          
        </div> <!-- vif -->
        <!-- End Summary -->

      </div> <!-- End col-sm-12 col-md-12 -->

    </div><!-- End row wrapper -->
  </div><!-- End container -->
  </v-app>
</div> <!-- End App -->
{% endblock %}


{% block style %} 
<style type="text/css">
	a:link {
        text-decoration: none;
        color: black;
      }

  .charge {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align:center
  }

  .subtotal {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align:center
  }


  @media screen and (min-width: 576px) {
      .charge {
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      text-align:center
    }
  }


  @media screen and (min-width: 768px) {
    .charge {
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      text-align:center
    }
  }


  @media screen and (min-width: 992px) {

  }


@media screen and (min-width: 1200px) {

}

</style>
{% endblock style %}


{% block script %}
  {% include "bl/billofloading_script.html" %}
{% endblock %}
