{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<script>
  const import_container_url = '{{import_container_url}}';
</script>

<div id="app">
  <v-app>
    <div class="containeer">
  <div class="row wrapper">

    <div class="col-sm-12 col-md-12">
      <div class="row">	
        
        <div class="col-12 mb-1">
          <div class="content">
          	<div class="card">
  		        <div class="card-body">
                <h4>Import Container Report</h4>
                <input type="text" class="form-control mb-2" v-model="container_number" placeholder="Container number">
                <button type="button" class="btn btn-success mb-2" v-on:click="get_data(container_number)">Get Information</button>
                

                <div class="text-center">
                  <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
                    v-if="loading"
                  ></v-progress-circular>
                </div>

                <div v-if="container">
                <template>
                  
                </template>

                <!-- Show Container detail -->
                <!-- [[container]] -->

                <template>
                    <v-card
                      v-if="container"
                      :loading="loading"
                      class="mx-auto my-12"
                      max-width="374"
                      
                    >
                      <template slot="progress">
                        <v-progress-linear
                          color="deep-purple"
                          height="10"
                          indeterminate
                        ></v-progress-linear>
                      </template>
                  
                      <v-img
                        height="250"
                        src="{% static 'container.jpg' %}"
                      ></v-img>
                      
                      <v-card-title>[[container_number]]</v-card-title>
                      <v-card-subtitle  >
                        Bill of Ladding : 
                        <v-chip
                          class="ma-2"
                          color="primary"
                          :href="bl_link('{% url 'bl:report'%}',container.bill_of_landing)"
                        >
                        [[container.bill_of_landing]]
                        </v-chip>
                      </v-card-subtitle>
                      
                      <v-card-text>               
                        <div>
                            Call sign :[[container.callsign]] , Voy :[[container.voy]] <br>
                            [[container.consigneeinfo_name]]
                        </div>
                      </v-card-text> 
                      
                      <v-card-text>
                        <div class="font-weight-bold ml-8 mb-2">
                          Status
                        </div>
              
                        <v-timeline
                          align-top
                          dense
                        >
                          <v-timeline-item
                            :color="color_exist(container.discharge.datetime_in)"
                            small
                          >
                            <div>
                                <div class="font-weight-normal">
                                  <strong>Discharge</strong> 
                                </div>
                                <div v-if="container.discharge.datetime_in">
                                  @[[container.discharge.datetime_in]] <br>
                                    [[container.discharge.terminal]] : 
                                    [[container.discharge.vessel_name]]
                                    ([[container.discharge.voy_in]])
                                  </div>
                                  <div v-else>
                                    Not discharge
                                </div>
                            </div>
                            
                          </v-timeline-item>

                          <v-timeline-item
                          :color="color_exist(container.delivery.out_by)"
                            small
                          >
                            <div>
                                <div class="font-weight-normal">
                                  <strong>Delivery</strong> 
                                </div>
                                <div v-if="container.delivery.out_by">
                                  @[[container.delivery.datetime_out]] <br>
                                  By : [[container.delivery.license_number]] ([[container.delivery.out_by]])
                                </div>
                                <div v-else>
                                   <div v-if="container.discharge.datetime_in">
                                      Still on yard for [[container.on_yard]] day(s)
                                    </div>
                                    <div v-else>
                                      Not discharge 
                                    </div>
                                </div>
                            </div>
                          </v-timeline-item>

                        </v-timeline>
                        <div v-if="container.delivery.out_by" class="font-weight-bold ml-8 mb-2">
                            Total on Yard : [[container.on_yard]] day(s)
                          </div>
                      </v-card-text>

                      <v-divider class="mx-4"></v-divider>
                      <v-card-title>Charge Detail for [[container.on_yard]] day(s)</v-card-title>
                      <v-card-text>
                    <v-menu
                        v-model="menu2"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                        v-if="container.delivery.out_by == null"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="date"
                            label="Select delivery date"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="date" @input="menu2 = false" :min="nowDate"></v-date-picker>
                      </v-menu>

                        <v-chip-group 
                          active-class="deep-purple accent-4 white--text"
                          column
                          v-if="container.discharge.datetime_in !== null"
                        >
                        <v-chip class="ma-1" color="green" text-color="white">
                            Lift On : [[container.lolo.toLocaleString(undefined, {maximumFractionDigits:2})]]
                            </v-chip>
                          <v-chip v-if="container.relo" class="ma-1" color="green" text-color="white">
                            Relocation : [[container.relo.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>
                          <v-chip v-if="container.rate1" class="ma-1" color="green" text-color="white">
                            Storage (1-7 days) : [[container.rate1.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>
                          <v-chip v-if="container.rate2" class="ma-1" color="green" text-color="white">
                            Storage (8-14 days) : [[container.rate2.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>
                          <v-chip v-if="container.rate3" class="ma-1" color="green" text-color="white">
                            Storage (15 days over) : [[container.rate3.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>
                        </v-chip-group>
                      </v-card-text>
                      <v-btn block color="secondary">
                        Total :[[container.total.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </v-btn>
                     </v-card>
                     
                  </template>
                  
                <!-- End Show Container detail -->
              </div> <!--  End of Container-->
              <!-- <div v-if="notfound">               
                  <v-alert
                      color="red lighten-2"
                      dark
                    >
                    Not found container number : [[container_number]]
                    </v-alert>
              </div> -->
              
            </div>
            </div>
          </div>
        </div>
        </div><!-- End row -->

        <!-- Start Summary -->
        <!-- <div v-if="selected.length > 0">

          <template>
            <v-card
              cols="12"
              class="mt-2"
              v-if="selected"
            >
                  <v-card-title>
                    Charge Summary
                  </v-card-title>
                  <v-card-subtitle>
                    [[selected.length]] container(s)
                  </v-card-subtitle>
                  
           
           <v-row no-gutters>

            <v-col
              cols="6"
               md="3"
            >
                <v-card
                  class="pa-2 ma-2"
                  outlined
                >
                  <v-card-title>
                      Lift On
                    </v-card-title>
                    <v-card-subtitle>
                      Total charge
                    </v-card-subtitle>
                    <v-card-text>
                      <p class="display-1 text--primary">
                        [[total_lolo.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </p>
                    </v-card-text>
                </v-card>
            </v-col>
            
            <v-col
              cols="6"
               md="3"
            >
                <v-card
                  class="pa-2 ma-2"
                  outlined
                >
                  <v-card-title>
                      Relocation
                    </v-card-title>
                    <v-card-subtitle>
                      Total charge
                    </v-card-subtitle>
                    <v-card-text>
                      <p class="display-1 text--primary">
                        [[total_relo.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </p>
                    </v-card-text>
                </v-card>
            </v-col>

            <v-col
              cols="6"
               md="3"
            >
              <v-card
                  class="pa-2 ma-2"
                  outlined
                >
                    <v-card-title>
                      Storage
                    </v-card-title>
                    <v-card-subtitle>
                      Total Charge
                    </v-card-subtitle>
                    <v-card-text>
                      <p class="display-1 text--primary">
                        [[total_storage.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </p>
                    </v-tacard-text>
                </v-card>
            </v-col>

            <v-col
              cols="6"
               md="3"
            >
              <v-card
                  class="pa-2 ma-2 bg-info"
                  outlined
                >
                  <v-card-title>
                      Grand Total
                    </v-card-title>
                    <v-card-subtitle>
                      Not include Tax
                    </v-card-subtitle>
                    <v-card-text>
                      <p class="display-1 text--primary font-weight-black">
                        [[total_grand.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </p>
                    </v-card-text>
                </v-card>
          </v-col>
          </v-row>
          </template>
          
        </div>  -->
        <!-- End Summary -->

      </div> <!-- End col-sm-12 col-md-12 -->

    </div><!-- End row wrapper -->
  </div><!-- End container -->
  </v-app>
</div> <!-- End App -->
{% endblock %}


{% block style %} 
<style type="text/css">
	a:link {
        text-decoration: none;
        color: black;
      }
</style>
{% endblock style %}


{% block script %}
  <script>

  new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    vuetify: new Vuetify(),
    data: {
            to_day : new Date(),
            container_number : '',
            loading : false,
            // containers :[],
            // selected :[],
            container : null,
            search:'',
            delivery:'',
            total_lolo:0,
            total_relo:0,
            total_storage:0,
            total_grand:0,
              date: new Date().toISOString().substr(0, 10),
              nowDate: new Date().toISOString().substr(0, 10),
              menu: false,
              modal: false,
              menu2: false,
          },
    computed:{

    },//end computed
    methods: {
      bl_link(url,bl) {
            let link = url + '/' + bl;
            return link;
      },
      color_exist(obj) {
            let color = (obj) ? 'green' : 'black';
            return color;
      },
        get_data: function(container_number) {
              this.loading = true;
              this.container = null;
            //   this.containers = [];
              // console.log('Hello from ' + bl_name + '!');
              // console.log(import_url + this.container_number)
              this.date = new Date().toISOString().substr(0, 10)
              axios
              // .get('http://127.0.0.1:8000/order/booking/'+ this.booking)
              .get(import_container_url + this.container_number.toUpperCase())
              .then(
                  response => {
                    console.log(response.data)
                    // this.containers = response.data
                    this.container = response.data
                    this.loading = false;
                    this.update_delivery(this.date);
                  })
              .catch(error =>{
                    this.loading = false;
                })
              
          },
          dWell:function(date_in,date_out){
            var starts = moment(date_in);
            var new_starts = starts.hour(0);
            new_starts = new_starts.minute(0);
            new_starts = new_starts.second(0);
            new_starts = new_starts.milliseconds(0);
            // Free first day
            // new_starts = new_starts.add(1,"day")

            var ends = moment(date_out);
            var new_ends = ends.hour(0);
            new_ends = new_ends.minute(0);
            new_ends = new_ends.second(0);
            new_ends = new_ends.milliseconds(0);

            
            var duration = moment.duration(new_starts.diff(new_ends));
            return duration.asDays()
        },
        add_day:function(today,n){
          // console.log(n)
          
          var newdate = new Date();
          newdate.setDate(today.getDate()+n);
          // console.log(newdate)
          return moment(newdate).format("MMM D")
            // return date.setDate(date.getDate()+n)
        },
        moment: function () {
          return moment();
        },
        
        lolo:function(container_size){
          // console.log('LoLo function')
          var cost = 0;
          if (container_size == 20){ cost=670}
          if (container_size == 40){ cost=1000}
          if (container_size == 45){ cost=1070}
          // // this.total_LoLo = cost;
          // // this.container.lolo = cost;
          // // this.grand_total = this.total_LoLo+this.total_Relo+this.total_rate1+this.total_rate2+this.total_rate3;
          // // this.container.total = this.grand_total;
          console.log('LOLO :' + cost);
          return cost
        },
        relo:function(container_size,dWell){
            // console.log('Relo function' + container_size + dWell)
            var cost = 0;
            if (dWell <= 7){return 0}
            if (container_size == 20){ cost=300}
            if (container_size == 40){ cost=510}
            if (container_size == 45){ cost=600}
            // this.total_Relo = cost
            // this.container.relo = cost;
            // this.grand_total = this.total_LoLo+this.total_Relo+this.total_rate1+this.total_rate2+this.total_rate3;
            // this.container.total = this.grand_total;
            return cost
        },
        rate1_day:function(dWell){
            var day = 0;
            var day_after_3day = dWell - 3;
            if (day_after_3day <= 0){
                return 0;}
            if (day_after_3day > 7) {
                return 7;}
            return day_after_3day
            },
        rate2_day:function(dWell){
          var day = 0;
          var day_after_rate2 = dWell -10 ;
          if (day_after_rate2 <= 0 ){
              return 0;}
          if (day_after_rate2 <= 7 ){
              return day_after_rate2;}
          if (day_after_rate2 > 7) {
              return 7;}
          },
        rate3_day:function(dWell){
          // console.log('rate3_day' + dWell);
          var day = 0;
          var day_after_rate3 = dWell -17 ;
          // console.log('rate3_day' + day_after_rate3);
          if (day_after_rate3 <= 0 ){
              // console.log('rate3_day : return 0' );
              return 0;
              }
          return day_after_rate3
          },
        rate1:function(container_size,dWell){
          var cost = 0;
          var day = 0;
          day = this.rate1_day(dWell)
          if (container_size == 20){ cost=125*day}
          if (container_size == 40){ cost=250*day}
          if (container_size == 45){ cost=310*day}
          // this.total_rate1 = cost;
          // this.container.rate1 = cost;
          // this.grand_total = this.total_LoLo+this.total_Relo+this.total_rate1+this.total_rate2+this.total_rate3;
          // this.container.total = this.grand_total;
          return cost
          },
          //.toLocaleString(undefined, {maximumFractionDigits:2})
        rate2:function(container_size,dWell){
          var cost = 0;
          var day = 0;
          day = this.rate2_day(dWell)
          if (container_size == 20){ cost=250*day}
          if (container_size == 40){ cost=500*day}
          if (container_size == 45){ cost=620*day}
          // this.total_rate2 = cost;
          // this.container.rate2 = cost;
          // this.grand_total = this.total_LoLo+this.total_Relo+this.total_rate1+this.total_rate2+this.total_rate3;
          // this.container.total = this.grand_total;
          return cost
          },
        rate3:function(container_size,dWell){
          // console.log('rate3 -' + dWell);
          var cost = 0;
          var day = 0;
          day = this.rate3_day(dWell)
          // console.log('rate3:Day -' + day);
          if (container_size == 20){ cost=400*day}
          if (container_size == 40){ cost=800*day}
          if (container_size == 45){ cost=990*day}
          // this.total_rate3 = cost;
          // this.container.rate3 = cost;
          // this.grand_total = this.total_LoLo+this.total_Relo+this.total_rate1+this.total_rate2+this.total_rate3;
          // this.container.total = this.grand_total;
          return cost
          },
        update_delivery:function(delivery_date){
          console.log('Delivery date :' + delivery_date )
        //   this.containers.forEach(function (arrayItem) {
          // this.containers.forEach((arrayItem) => {
              if (this.container.delivery == null) {
                container.delivery = {'datetime_out': delivery_date};
                console.log('No delivery');
              }
              else{
                console.log('With delivery');
                console.log('Total:' + this.container.total);
                // Update datetime_out (**if out_by exist)
                if (this.container.delivery.out_by == null) {
                    this.container.delivery.datetime_out = delivery_date;
                }
              }//end delivery==null

              this.container.on_yard   = this.dWell(this.container.delivery.datetime_out,this.container.discharge.datetime_in)
              this.container.lolo      = this.lolo(this.container.discharge.size);
              this.container.relo      = this.relo(this.container.discharge.size,this.container.on_yard);
              this.container.rate1     = this.rate1(this.container.discharge.size,this.container.on_yard);
              this.container.rate2     = this.rate2(this.container.discharge.size,this.container.on_yard);
              this.container.rate3     = this.rate3(this.container.discharge.size,this.container.on_yard);
              this.container.total     = Number(this.container.lolo)+Number(this.container.relo)+Number(this.container.rate1)+Number(this.container.rate2)+Number(this.container.rate3)
              
              this.total_lolo=this.container.lolo;
              this.total_relo=this.container.relo;
              this.total_storage= this.container.rate1+this.container.rate2+this.container.rate3;
              this.total_grand=this.container.total;
        //   }.bind(this));//forEach
        },//End update_delivery
        update_charge:function(){
          console.log('Update Charge :')
          this.total_lolo=0;
          this.total_relo=0;
          this.total_storage=0;
          this.total_grand=0;
        //   this.selected.forEach(function (arrayItem) {
              // console.log(arrayItem)
              this.total_lolo=this.container.lolo;
              this.total_relo=this.container.relo;
              this.total_storage= this.container.rate1+this.container.rate2+this.container.rate3;
              this.total_grand=this.container.total;
        //   }.bind(this));//forEach
        },//End update_charge
      },//End Method
    watch: {
      date () {
        this.update_delivery(this.date);
        // this.update_charge();
      },
    //   selected () {
    //     //this.selected_json = JSON.stringify(this.selected)
    //     this.update_charge();
    //   },
      container_number (){
        // this.containers = []
        this.container = null
      }
    },
    
  })
  </script>
{% endblock %}

