{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<script>
  const import_container_url = '{{import_container_url}}';
</script>

<div id="app">
  <v-app>
    <div class="containeer">
  <div class="row wrapper">

    <div class="col-sm-12 col-md-12">
      <div class="row">	
        
        <div class="col-12 mb-1">
          <div class="content">
          	<div class="card">
  		        <div class="card-body">
                <h4>Import Container Report</h4>
                <input type="text" class="form-control mb-2" v-model="container_number" placeholder="Container number">
                <button type="button" class="btn btn-success mb-2" v-on:click="get_data(container_number)">Get Information</button>
                

                <div class="text-center">
                  <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
                    v-if="loading"
                  ></v-progress-circular>
                </div>

                <div v-if="container">

                <!-- Show Container detail -->
                <!-- [[container]] -->

                <template>
                    <v-card
                      v-if="container"
                      :loading="loading"
                      class="mx-auto my-12"
                      max-width="374"
                      
                    >
                      <template slot="progress">
                        <v-progress-linear
                          color="deep-purple"
                          height="10"
                          indeterminate
                        ></v-progress-linear>
                      </template>
                  
                      <v-img
                        height="250"
                        src="{% static 'container.jpg' %}"
                      ></v-img>
                      
                      <v-card-title>[[container_number]]</v-card-title>
                      <v-card-subtitle  >
                      </v-card-subtitle>
                      
                      <v-card-text>               
                        
                        <div>
                          Term :
                          <v-chip
                            class="ma-2"
                            color="info"
                          >
                            <div v-if="container.containerdetail_status==4">
                              MTY
                            </div>
                            <div v-if="container.containerdetail_status==7">
                              LCL
                            </div>
                            <div v-if="container.containerdetail_status==8">
                              FCL
                            </div>
                            <div v-if="container.containerdetail_status==9">
                              LCL/CFS
                            </div>
                          </v-chip>
                          
                        </div>
                        <v-divider></v-divider>
                          <!-- BL list (in case multiple BL) -->
                          <div v-if="container.containerdetail_status==9" class="text-center">
                            ตู้นี้ประกอบด้วยหลาย BL ตามนี้
                            <v-chip-group
                              active-class="deep-purple accent-4 white--text"
                              column
                              v-if="container.discharge.datetime_in !== null"
                             
                            >
                              <v-chip
                                class="ma-1"
                                v-for="item in containers" :key="item.bill_of_landing"
                                @click="updateBL(item.bill_of_landing)"
                              >
                                [[item.bill_of_landing]]
                              </v-chip>
                            </v-chip-group>
                            <v-divider></v-divider>
                          </div>
                          
                        Bill of Ladding : 
                        <v-chip
                          class="ma-2"
                          color="primary"
                          :href="bl_link('{% url 'bl:report'%}',container.bill_of_landing)"
                        >
                        [[container.bill_of_landing]]
                        </v-chip>
                        <div>
                          Call sign :[[container.callsign]] , Voy :[[container.voy]] <br>
                          [[container.consigneeinfo_name]]
                        </div>

                        <div v-if="container.containerdetail_status==9">
                          gross : [[container.gross]] [[container.unit_gross]]<br>
                          meas : [[container.meas]] [[container.unit_meas]]
                        </div>
                      <v-divider></v-divider>

                        <div class="font-weight-bold ml-8 mb-2">
                          Status
                        </div>
              
                        <v-timeline
                          align-top
                          dense
                        >
                          <v-timeline-item
                            :color="color_exist(container.discharge.datetime_in)"
                            small
                          >
                            <div>
                                <div class="font-weight-normal">
                                  <strong>Discharge</strong> 
                                </div>
                                <div v-if="container.discharge.datetime_in">
                                  @[[container.discharge.datetime_in]] <br>
                                    <v-chip
                                    class="ma-2"
                                    :color="terminal_color(container.discharge.terminal)"
                                    >
                                    [[container.discharge.terminal]]
                                    </v-chip>
                                    :
                                    [[container.discharge.vessel_name]]
                                    ([[container.discharge.voy_in]])
                                  </div>
                                  <div v-else>
                                    No discharge info
                                </div>
                            </div>
                            
                          </v-timeline-item>

                          <v-timeline-item
                          :color="color_exist(container.delivery.out_by)"
                            small
                            v-if="container.containerdetail_status!=9"
                          >
                            <div>
                                <div class="font-weight-normal">
                                  <strong>Delivery</strong> 
                                </div>
                                <div v-if="container.delivery.out_by">
                                  @[[container.delivery.datetime_out]] <br>
                                  By : [[container.delivery.license_number]] ([[container.delivery.out_by]])
                                </div>
                                <div v-else>
                                   <div v-if="container.discharge.datetime_in">
                                      Still on yard for [[container.on_yard]] day(s)
                                    </div>
                                    <div v-else>
                                      No delivery info 
                                    </div>
                                </div>
                            </div>
                          </v-timeline-item>

                          <!-- Cargo Status -->
                          <v-timeline-item
                          :color="color_exist(container.delivery.out_by)"
                            small
                            v-if="container.containerdetail_status==9"
                          >
                            <div>
                                <div class="font-weight-normal">
                                  <strong>Cargo Status</strong> 
                                </div>
                                <div>Waiting for Open</div>
                            </div>
                          </v-timeline-item>

                        </v-timeline>

                        <div v-if="container.delivery.out_by" class="font-weight-bold ml-8 mb-2">
                            Total on Yard : [[container.on_yard]] day(s)
                        </div>
                      </v-card-text>

                      <v-divider class="mx-4"></v-divider>
                      <v-card-title>Charge Detail for [[container.on_yard]] day(s)</v-card-title>
                      <v-card-text>
                    <v-menu
                        v-model="menu2"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                        v-if="container.delivery.out_by == null || container.containerdetail_status =='9'"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="date"
                            label="Select delivery date"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="date" @input="menu2 = false" :min="nowDate"></v-date-picker>
                      </v-menu>

                        <v-chip-group 
                          active-class="deep-purple accent-4 white--text"
                          column
                          v-if="container.discharge.datetime_in !== null"
                        >
                          <v-chip v-if="container.containerdetail_status!=9" class="ma-1" color="green" text-color="white">
                            Lift On : [[container.lolo.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>

                           <!-- To support CFS -->
                           <v-chip v-if="container.containerdetail_status==9" class="ma-1" color="green" text-color="white">
                            Wharf Handling : [[container.unstuffing.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>

                          
                          <!-- End CFS -->

                          <v-chip v-if="container.relo && container.containerdetail_status!=9" class="ma-1" color="green" text-color="white">
                            Relocation : [[container.relo.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>

                          <v-chip v-if="container.rate1" class="ma-1" color="green" text-color="white">
                            Storage (1-7 days) : [[container.rate1.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>
                          <v-chip v-if="container.rate2" class="ma-1" color="green" text-color="white">
                            Storage (8-14 days) : [[container.rate2.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>
                          <v-chip v-if="container.rate3" class="ma-1" color="green" text-color="white">
                            Storage (15 days over) : [[container.rate3.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>
                          
                          <v-chip v-if="container.on_yard > 30 && container.containerdetail_status==9" class="ma-1" color="green" text-color="white">
                            Additional Charge : [[container.wharf.toLocaleString(undefined, {maximumFractionDigits:2})]]
                          </v-chip>
                         
                          
                        </v-chip-group>
                      </v-card-text>
                      <v-btn block color="secondary">
                        Total :[[container.total.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </v-btn>

                     </v-card>
                     
                  </template>
                  
                <!-- End Show Container detail -->
              </div> <!--  End of Container-->
              <!-- <div v-if="notfound">               
                  <v-alert
                      color="red lighten-2"
                      dark
                    >
                    Not found container number : [[container_number]]
                    </v-alert>
              </div> -->
              
            </div>
            </div>
          </div>
        </div>
        </div><!-- End row -->

        <!-- Start Summary -->
        <!-- <div v-if="selected.length > 0">

          <template>
            <v-card
              cols="12"
              class="mt-2"
              v-if="selected"
            >
                  <v-card-title>
                    Charge Summary
                  </v-card-title>
                  <v-card-subtitle>
                    [[selected.length]] container(s)
                  </v-card-subtitle>
                  
           
           <v-row no-gutters>

            <v-col
              cols="6"
               md="3"
            >
                <v-card
                  class="pa-2 ma-2"
                  outlined
                >
                  <v-card-title>
                      Lift On
                    </v-card-title>
                    <v-card-subtitle>
                      Total charge
                    </v-card-subtitle>
                    <v-card-text>
                      <p class="display-1 text--primary">
                        [[total_lolo.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </p>
                    </v-card-text>
                </v-card>
            </v-col>
            
            <v-col
              cols="6"
               md="3"
            >
                <v-card
                  class="pa-2 ma-2"
                  outlined
                >
                  <v-card-title>
                      Relocation
                    </v-card-title>
                    <v-card-subtitle>
                      Total charge
                    </v-card-subtitle>
                    <v-card-text>
                      <p class="display-1 text--primary">
                        [[total_relo.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </p>
                    </v-card-text>
                </v-card>
            </v-col>

            <v-col
              cols="6"
               md="3"
            >
              <v-card
                  class="pa-2 ma-2"
                  outlined
                >
                    <v-card-title>
                      Storage
                    </v-card-title>
                    <v-card-subtitle>
                      Total Charge
                    </v-card-subtitle>
                    <v-card-text>
                      <p class="display-1 text--primary">
                        [[total_storage.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </p>
                    </v-tacard-text>
                </v-card>
            </v-col>

            <v-col
              cols="6"
               md="3"
            >
              <v-card
                  class="pa-2 ma-2 bg-info"
                  outlined
                >
                  <v-card-title>
                      Grand Total
                    </v-card-title>
                    <v-card-subtitle>
                      Not include Tax
                    </v-card-subtitle>
                    <v-card-text>
                      <p class="display-1 text--primary font-weight-black">
                        [[total_grand.toLocaleString(undefined, {maximumFractionDigits:2})]]
                      </p>
                    </v-card-text>
                </v-card>
          </v-col>
          </v-row>
          </template>
          
        </div>  -->
        <!-- End Summary -->

      </div> <!-- End col-sm-12 col-md-12 -->

    </div><!-- End row wrapper -->
  </div><!-- End container -->
  </v-app>
</div> <!-- End App -->
{% endblock %}


{% block style %} 
<style type="text/css">
	a:link {
        text-decoration: none;
        color: black;
      }
</style>
{% endblock style %}


{% block script %}
  {% include "bl/container_script.html" %}
{% endblock %}

