{% extends 'base.html' %}
 {% load crispy_forms_tags %}

{% block content %}

<script>
  const shorepass_api_url = '{{shorepass_api_url}}';
</script>

<div id="app">
    <v-app>
        <div class="containeer">
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-body">
                        <h2>Create New ShorePass</h2>
                        <a href="{% url 'shorepass:list' %}">Back</a>
                            <!-- Form Start -->
                            <template>
                                <v-form
                                  ref="form"
                                  lazy-validation
                                >

                               
                                
                                <!--Booking  -->
                                <v-row>
                                  <v-col
                                    cols="12"
                                    sm="6"
                                  >
                                    <v-text-field
                                      v-model="booking"
                                      label="Booking number"
                                      value=""
                                      hint="For example, flowers or used cars"
                                    ></v-text-field>
                                  </v-col>
                                </v-row>
                                <!-- End Booking -->
                                <!-- Vessel/Voy -->
                                <!-- <v-card v-if="booking"
                                  color="red lighten-2"
                                  dark
                                > -->
                                <v-card v-if="booking">
                                <v-card-text>

                                     <!-- Terminal -->
                              <v-radio-group
                                v-model="terminal"
                                row
                              >
                                <template v-slot:label>
                                  <div>Select <strong>terminal</strong></div>
                                </template>
                                <v-radio
                                  value="B1"
                                  label="LCB1"
                                >
                                </v-radio>
                                <v-radio
                                  value="A0"
                                  label="LCMT"
                                >
                                
                                </v-radio>
                              </v-radio-group>
                              <!-- End Terminal -->

                                    <v-autocomplete
                                      v-model="agent"
                                      :items="agentitems"
                                      :loading="AgentisLoading"
                                      :search-input.sync="search_agent"
                                      hide-no-data
                                      hide-selected
                                      item-text="Description"
                                      item-value="name"
                                      label="Line/Agent"
                                      placeholder="Start typing to Search"
                                      prepend-icon="mdi-database-search"
                                      return-object
                                    ></v-autocomplete>

                                    <v-autocomplete
                                      v-model="customer"
                                      :items="customeritems"
                                      :loading="CustomerisLoading"
                                      :search-input.sync="search_customer"
                                      hide-no-data
                                      hide-selected
                                      item-text="Description"
                                      item-value="name"
                                      label="Customer"
                                      placeholder="Start typing to Search"
                                      prepend-icon="mdi-database-search"
                                      return-object
                                    ></v-autocomplete>
                                    
                                    <v-autocomplete
                                      v-model="vessel"
                                      :items="items"
                                      :loading="isLoading"
                                      :search-input.sync="search_vessel"
                                      hide-no-data
                                      hide-selected
                                      item-text="Description"
                                      item-value="slug"
                                      label="Vessel Name or Voy number"
                                      placeholder="Start typing to Search"
                                      prepend-icon="mdi-database-search"
                                      return-object
                                    ></v-autocomplete>

                                    <v-autocomplete
                                      v-model="pod"
                                      :items="poditems"
                                      :loading="PodisLoading"
                                      :search-input.sync="search_pod"
                                      hide-no-data
                                      hide-selected
                                      item-text="Description"
                                      item-value="name"
                                      label="POD"
                                      placeholder="Start typing to Search"
                                      prepend-icon="mdi-database-search"
                                      return-object
                                    ></v-autocomplete>
                                      
                                  </v-card-text>
                                                                   
                                </v-card>
                               
                                <!-- End Vessel voy -->

                                <!-- Container details -->
                                <v-card class="mt-2">
                                  <template>
                                    <v-data-table
                                      :headers="headers"
                                      :items="containers"
                                      sort-by="calories"
                                      class="elevation-1"
                                    >
                                      <template v-slot:top>
                                        <v-toolbar
                                          flat
                                        >
                                          <v-toolbar-title>Containers</v-toolbar-title>
                                          <v-divider
                                            class="mx-4"
                                            inset
                                            vertical
                                          ></v-divider>
                                          <v-spacer></v-spacer>

                                          <v-dialog
                                            v-model="dialog"
                                            max-width="500px"
                                          >
                                            <template v-slot:activator="{ on, attrs }">
                                              <v-btn
                                                color="primary"
                                                dark
                                                class="mb-2"
                                                v-bind="attrs"
                                                v-on="on"
                                              >
                                                New Container
                                              </v-btn>
                                            </template>
                                            <v-card>
                                              <v-card-title>
                                                <span class="headline">{{ formTitle }}</span>
                                              </v-card-title>
                                  
                                              <v-card-text>
                                                <v-container>
                                                  <v-row>
                                                    <v-col
                                                      cols="12"
                                                      sm="6"
                                                      md="4"
                                                    >
                                                      <v-text-field
                                                        v-model="editedItem.name"
                                                        label="Container number"
                                                        :rules ="[rules.container]"
                                                      ></v-text-field>
                                                    </v-col>

                                                    <v-col
                                                      cols="12"
                                                      sm="6"
                                                      md="4"
                                                    >
                                                      <v-select
                                                        v-model="editedItem.size"
                                                        :items="sizes"
                                                        label="Size"
                                                      ></v-select>
                                                    </v-col>

                                                    <v-col
                                                      cols="12"
                                                      sm="6"
                                                      md="4"
                                                    >
                                                      <v-select
                                                        v-model="editedItem.container_type"
                                                        :items="container_type"
                                                        label="Type"
                                                      ></v-select>
                                                    </v-col>

                                                    <v-col
                                                      cols="12"
                                                      sm="6"
                                                      md="4"
                                                    >
                                                      <v-text-field
                                                        v-model="editedItem.temperature"
                                                        label="Temperature"
                                                        :rules ="[rules.temperature]"
                                                      ></v-text-field>

                                                    </v-col>

                                                    <v-col
                                                      cols="12"
                                                      sm="6"
                                                      md="4"
                                                    >
                                                      <v-text-field
                                                        v-model="editedItem.vent"
                                                        label="Vent"
                                                        :rules ="[rules.vent]"
                                                      ></v-text-field>

                                                    </v-col>

                                                    <v-col
                                                      cols="12"
                                                      sm="6"
                                                      md="4"
                                                    >
                                                      <v-select
                                                        v-model="editedItem.stowage"
                                                        :items="stowages"
                                                        item-text="text"
                                                        item-value="value"
                                                        label="Stowage"
                                                      ></v-select>
                                                    </v-col>
                                                  </v-row>
                                                </v-container>
                                              </v-card-text>
                                  
                                              <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn
                                                  color="blue darken-1"
                                                  text
                                                  @click="close"
                                                >
                                                  Cancel
                                                </v-btn>
                                                <v-btn
                                                  color="blue darken-1"
                                                  text
                                                  @click="save"
                                                >
                                                  Save
                                                </v-btn>
                                              </v-card-actions>
                                            </v-card>
                                          </v-dialog>
                                          <v-dialog v-model="dialogDelete" max-width="500px">
                                            <v-card>
                                              <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
                                              <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                                <v-spacer></v-spacer>
                                              </v-card-actions>
                                            </v-card>
                                          </v-dialog>
                                        </v-toolbar>
                                      </template>

                                      <template v-slot:item.actions="{ item }">
                                        <v-icon
                                          small
                                          class="mr-2"
                                          @click="editItem(item)"
                                        >
                                          mdi-pencil
                                        </v-icon>
                                        <v-icon
                                          small
                                          @click="deleteItem(item)"
                                        >
                                          mdi-delete
                                        </v-icon>
                                      </template>
                                      <template v-slot:no-data>
                                        <v-btn
                                          color="primary"
                                          
                                        >
                                          Reset
                                        </v-btn>
                                      </template>
                                    </v-data-table>
                                  </template>
                                </v-card>
                                <!-- End Data table -->

                                

                                
                                {% if user.is_authenticated %}
                                  <form action="" method="post" enctype="multipart/form-data" novalidate>
                  
                                    {% csrf_token %}
                                      <input type="hidden" name="booking" :value="[[booking]]">
                                      <input type="hidden" name="terminal" :value="[[selected_terminal]]">
                                      <input type="hidden" name="vessel_name" :value="[[selected_vessel]]">
                                      <input type="hidden" name="agent" :value="[[selected_agent]]">
                                      <input type="hidden" name="customer" :value="[[selected_customer]]">
                                      <input type="hidden" name="pod" :value="[[selected_pod]]">
                                      <input type="hidden" name="voy" :value="[[selected_voy]]">
                                      <input type="hidden" name="containers_json" :value="[[selected_containers]]">

                                      <!-- Start File -->
                                      <!-- <v-file-input
                                      show-size
                                      label="File input1"
                                      v-model="file1"
                                    ></v-file-input>
                                    <v-file-input
                                      show-size
                                      label="File input2"
                                      v-model="file2"
                                    ></v-file-input> -->
                                <!-- End file -->
                                <br>
                                      {{ form.shorefile1.label_tag  }}{{ form.shorefile1 }}(รูปภาพเท่านั้น)<br>
                                      {{ form.shorefile2.label_tag  }}{{ form.shorefile2 }}(รูปภาพเท่านั้น)<br>
                                      <v-alert
                                      v-if="containers.length == 0"
                                      color="red"
                                      border="left"
                                      elevation="2"
                                      colored-border
                                      icon="mdi-alert"
                                      >
                                      ไม่สามารถดำเนินการต่อได้ เพราะไม่มีข้อมูลตู้ container
                                    </v-alert>
                                      <button type="submit" class="btn btn-primary" :disabled="containers.length == 0">Upload Data</button>
                                  </form>

                                  <!-- <form method="post" novalidate>{% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-primary">Create Booking</button>
                                </form> -->
                                {% endif %}
                                

                              </v-form>
                              </template>
                            <!-- End Form -->

                        </div>
                    </div><!-- End Card-->
                </div><!-- End col-sm-6-->
            </div><!-- End Row-->
        </div> <!-- End containeer-->
    </v-app>
</div><!-- End id="app"-->

{% endblock %}


{% block style %} 
<style type="text/css">
	a:link {
        text-decoration: none;
        color: black;
      }
</style>
{% endblock style %}


{% block script %}
    <script>

        // Vue.filter('uppercase', function (value) {
        //   return value.toUpperCase()
        // })


        new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            vuetify: new Vuetify(),
            
            data: {
              booking:'',
              // Line/Agent 
              agents: [],
              AgentisLoading: false,
              agent: null,
              search_agent: null,
              // Line/Agent

              // Customer 
              customers: [],
              CustomerisLoading: false,
              customer: null,
              search_customer: null,
              // Customer

              // for auto complete--vessel
              descriptionLimit: 60,
              entries: [],
              isLoading: false,
              vessel: null,
              search_vessel: null,
              // End auto complete
              
              // POD 
              pods: [],
              PodisLoading: false,
              pod: null,
              search_pod: null,
              // End POD

              terminal:'B1',

              // Container details
              sizes : ['20','40','45'],
              container_type:['DV','HQ','RE','OT'],
              // stowages :['','UD','OD'],
              stowages :[
                        {text:'',value:''},
                        {text:'Under Deck',value:'UD'},
                        {text:'Over Deck',value:'OD'}
                        ],
              rules: {
                required: value => !!value || 'Required.',
                counter: value => value.length <= 11 || 'Max 11 characters',
                email: value => {
                  const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                  return pattern.test(value) || 'Invalid e-mail.'
                },
                container: value =>{
                  const pattern = /^[a-zA-Z]{4}[0-9]{7}$/
                  return pattern.test(value) || 'หมายเลขตู้ไม่ถูกต้อง'
                },
                temperature : value =>{
                  const pattern = /^([-+]?[0-9]+(\.[0-9]*)?)$/
                  return pattern.test(value) || 'อุณหภูมิไม่ถูกต้อง'
                },
                vent : value =>{
                  const pattern = /^([-+]?[0-9]+(\.[0-9]*)?)$/
                  return pattern.test(value) || 'ข้อมูลVentไม่ถูกต้อง'
                }
              },
              // End Container details

              dialog: false,
              dialogDelete: false,
              headers: [
                {
                  text: 'Container',
                  align: 'start',
                  sortable: false,
                  value: 'name',
                },
                { text: 'Size', value: 'size' },
                { text: 'Type', value: 'container_type' },
                { text: 'Temperature', value: 'temperature' },
                { text: 'Vent', value: 'vent' },
                { text: 'Stowage', value: 'stowage' },
                { text: 'Actions', value: 'actions', sortable: false },
              ],
              containers: [],
              editedIndex: -1,
              editedItem: {
                name: '',
                size: '40',
                container_type: 'DV',
                temperature: '',
                stowage: '',
                vent:'',
              },
              defaultItem: {
                name: '',
                size: '40',
                container_type: 'DV',
                temperature: '',
                stowage: '',
                vent:'',
              },

            },//End Data
            computed: {
              // Selected Select
              // this.selected_json = JSON.stringify(this.selected)
              
              selected_containers(){
                return JSON.stringify(this.containers)
              },
              selected_terminal(){
                return this.terminal === 'B1' ? 'LCB1' : 'LCMT'
              },
              selected_agent(){
                return this.agent !== null ? this.agent.name : ''
              },
              selected_customer(){
                return this.customer !== null ? this.customer.pk : ''
              },
              selected_vessel(){
                return this.vessel !== null ? this.vessel.vessel : ''
              },
              selected_pod(){
                return this.pod !== null ? this.pod.name : ''
              },
              selected_voy(){
                return this.vessel !== null ? this.vessel.voy : ''
              },
              // End Select
              formTitle () {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
              },
              // For Vessel
              fields () {
                if (!this.vessel) return []

                return Object.keys(this.vessel).map(key => {
                  return {
                    key,
                    value: this.vessel[key] || 'n/a',
                  }
                })
              },
              items () {
                return this.entries.map(entry => {
                  const Description = entry.vessel.length > this.descriptionLimit
                    ? entry.vessel.slice(0, this.descriptionLimit) + '...'
                    : entry.vessel + ' (' + entry.voy + ')'

                  return Object.assign({}, entry, { Description })
                })
              },//End item
              // End Vessel
              // For POD
              // podfields () {
              //   if (!this.pod) return []

              //   return Object.keys(this.pod).map(key => {
              //     return {
              //       key,
              //       value: this.pod[key] || 'n/a',
              //     }
              //   })
              // },
              poditems () {
                return this.pods.map(entry => {
                  const Description = entry.name.length > this.descriptionLimit
                    ? entry.name.slice(0, this.descriptionLimit) + '...'
                    : entry.name + ' (' + entry.description + ')'

                  return Object.assign({}, entry, { Description })
                })
              },//End Poditem
              customeritems () {
                return this.customers.map(entry => {
                  const Description = entry.name.length > this.descriptionLimit
                    ? entry.name.slice(0, this.descriptionLimit) + '...'
                    : entry.name 

                  return Object.assign({}, entry, { Description })
                })
              },//End Poditem
              agentitems () {
                return this.agents.map(entry => {
                  const Description = entry.name.length > this.descriptionLimit
                    ? entry.name.slice(0, this.descriptionLimit) + '...'
                    : entry.name + ' (' + entry.fullname + ')'

                  return Object.assign({}, entry, { Description })
                })
              },//End Poditem

            },//End Computed
            
            watch: {
              booking (){
                this.booking = this.booking.toUpperCase();
              },
              dialog (val) {
                val || this.close()
              },
              dialogDelete (val) {
                val || this.closeDelete()
              },

              terminal (){
                this.entries =[];
                this.vessel = null;
              },

              customer: function () {
                console.log('Watch customer')
                // this.answer = 'Waiting for you to stop typing...'
                this.debouncedGetCustomer()
              },
              search_vessel (val) {
                // Items have already been loaded
                if (this.items.length > 0) return
                // Items have already been requested
                if (this.isLoading) return
                this.isLoading = true
                  axios
                  .get( shorepass_api_url + 'voy/'+ this.terminal +'/')//Only internal use.
                  .then(
                      response => {
                        this.isLoading = false;
                        // console.log( 'Start loading' );
                        this.count = 20;
                        this.entries = response.data;
                        // console.log( this.entries);
                      })
                  .catch(error =>{
                        this.isLoading = false;
                    })
              },//End search_vessel
              search_pod (val) {
                // Items have already been loaded
                if (this.pods.length > 0) return
                // Items have already been requested
                if (this.PodisLoading) return
                this.PodisLoading = true
                  axios
                  .get( shorepass_api_url + 'pod/')//Only internal use.
                  .then(
                      response => {
                        this.PodisLoading = false;
                        console.log( 'Start loading POD' );
                        this.count = response.data.count;
                        this.pods = response.data.results;
                        // console.log( response.data);
                      })
                  .catch(error =>{
                        this.PodisLoading = false;
                    })
              },//End search_vessel

              search_customer (val) {
                // console.log('search_customer')
                this.debouncedGetCustomer()
                // Items have already been loaded
                // if (this.pods.length > 0) return
                // Items have already been requested
                // if (this.PodisLoading) return
                // this.PodisLoading = true
                // console.log('Search Customer :' + val)
                  // axios
                  // .get( 'http://127.0.0.1:8000/api/shorepass/pod/')
                  // .then(
                  //     response => {
                  //       this.PodisLoading = false;
                  //       console.log( 'Start loading POD' );
                  //       this.count = response.data.count;
                  //       this.pods = response.data.results;
                  //       // console.log( response.data);
                  //     })
                  // .catch(error =>{
                  //       this.PodisLoading = false;
                  //   })
                  // this.PodisLoading = false
              },//End search custoemr

            },//End watch
            created (){
              // _.debounce is a function provided by lodash to limit how
              // often a particularly expensive operation can be run.
              // In this case, we want to limit how often we access
              // yesno.wtf/api, waiting until the user has completely
              // finished typing before making the ajax request. To learn
              // more about the _.debounce function (and its cousin
              // _.throttle), visit: https://lodash.com/docs#debounce
              this.debouncedGetCustomer = _.debounce(this.getCustomer, 500)

              console.log('Pulling Agent')
              axios
                  .get( shorepass_api_url + 'agent/')//Only internal use.
                  .then(
                      response => {
                        this.AgentdisLoading = false;
                        // console.log( 'Start loading POD' );
                        this.count = response.data.count;
                        this.agents = response.data.results;
                        // console.log( response.data);
                      })
                  .catch(error =>{
                        this.AgentdisLoading = false;
                    })
              // End pulling POD

              console.log('Pulling POD')
              axios
                  .get( shorepass_api_url + 'pod/')//Only internal use.
                  .then(
                      response => {
                        this.PodisLoading = false;
                        // console.log( 'Start loading POD' );
                        this.count = response.data.count;
                        this.pods = response.data.results;
                        // console.log( response.data);
                      })
                  .catch(error =>{
                        this.PodisLoading = false;
                    })
              // End pulling POD
              
              //Pulling Vessel
              console.log('Pulling Vessel')
                  axios
                  .get( shorepass_api_url + 'voy/'+ this.terminal +'/')//Only internal use.
                  .then(
                      response => {
                        this.isLoading = false;
                        // console.log( 'Start loading' );
                        this.count = 20;
                        this.entries = response.data;
                        // console.log( this.entries);
                      })
                  .catch(error =>{
                        this.isLoading = false;
                    })
              //End Pulling Vessel
              
            },//End Create
          methods: {
            getCustomer () {
                // Items have already been loaded
                if (this.search_customer == '') {
                  this.customers = [];
                  return
                }
                // Items have already been requested
                this.CustomerisLoading = true
                console.log('Searching Customer :' + this.search_customer )
                  axios
                  .get( shorepass_api_url + 'customer/?name=' + this.search_customer)
                  .then(
                      response => {
                        this.CustomerisLoading = false;
                        this.count = response.data.count;
                        this.customers = response.data.results;
                        // console.log( response.data);
                      })
                  .catch(error =>{
                        this.CustomerisLoading = false;
                    })
                  this.CustomerisLoading = false
              },//End search custoemr

              editItem (item) {
                this.editedIndex = this.containers.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
              },//End editItem

              deleteItem (item) {
                this.editedIndex = this.containers.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialogDelete = true
              },//End deleteItem

              deleteItemConfirm () {
                this.containers.splice(this.editedIndex, 1)
                this.closeDelete()
              }, //End deleteItemConfirm

              close () {
                console.log('close')
                this.dialog = false
                this.$nextTick(() => {
                  this.editedItem = Object.assign({}, this.defaultItem)
                  this.editedIndex = -1
                })
              },//End CLose
              closeDelete () {
                this.dialogDelete = false
                this.$nextTick(() => {
                  this.editedItem = Object.assign({}, this.defaultItem)
                  this.editedIndex = -1
                })
              },//End closedDelete

              save () {
                if (this.editedIndex > -1) {
                  Object.assign(this.containers[this.editedIndex], this.editedItem)
                } else {
                  this.containers.push(this.editedItem)
                }
                this.close()
              },//End Save
          },//End Method

        })
    </script>
{% endblock %}