{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<script>
</script>

<div id="app">
    <v-app>
        <div class="containeer">
            <div class="col-sm-12 col-md-12">
                <div class="col-12 mb-2">
                    <div class="content">
                        <div class="card">
                            <div class="card-body">

                                    <h2>
                                        {{object}}
                                       
                                        <!-- Status -->
                                        {% if object.execute_job %}
                                            <span class="badge badge-success">พร้อมชำระเงิน</span> 
                                        {% else %}
                                            <a href="{% url 'shorepass:shoredelete' object.id %}"><button type="button" class="btn btn-danger">Delete</button></a>

                                            {% if object.need_contact %}
                                                <span class="badge badge-danger">ติดต่อเจ้าหน้าที่</span>
                                            {% else %}
                                                {% if object.shorefile1 or  object.shorefile2 %}
                                                    <span class="badge badge-warning">รออนุมัติ</span>
                                                {% else %}
                                                    <span class="badge badge-danger">แนบเอกสารเพิ่ม</span>
                                                {% endif %}
                                            {% endif %}

                                            
                                        {% endif %}<!-- End Job executed-->
                                        <!-- End Status -->
                                    </h2>
                                    Created on : {{object.created}} ({{object.created|naturaltime}})
                                    
                                    <br>
                                    <a href="{% url 'shorepass:list' %}">กลับหน้าหลัก</a>
                                    
                                    <!-- Need Contact Staff message -->
                                    {% if object.need_contact %}
                                    <v-alert
                                        color="red"
                                        border="left"
                                        elevation="2"
                                        colored-border
                                        icon="mdi-message-text"
                                    >
                                        {{object.message|linebreaksbr}}
                                    </v-alert>
                                    {% endif %}
                                    
                                    <!-- Shore detail -->
                                    <v-alert
                                        color="cyan"
                                        border="left"
                                        elevation="2"
                                        colored-border
                                        icon="mdi-ferry"
                                    >
                                        <div class="">  
                                            Vessel : <strong>{{object.vessel_name}}</strong>  Voy : <strong>{{object.voy}}</strong> 
                                        </div>
                                        <div class="">
                                            POD : <strong>{{object.pod}}</strong>
                                        </div>
                                        <div class="">
                                            Line/Agent : <strong>{{object.agent}}</strong>
                                        </div>

                                        <div class="">  
                                            Customer : <strong>{{object.customer}}</strong>
                                        </div>

                                    </v-alert>
                                    
                                    <!-- End Shore detail -->

                                    <!-- Container Details -->
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                                          <!-- <div class="content"> -->
                                            <h4>Container List</h4>
                                            <div class="table-responsive-md">
                                            <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Container</th>
                                                <th scope="col">Size</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Temperature</th>
                                                <th scope="col">Vent</th>
                                                <th scope="col">Stowage</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              {% for container in object.containers.all|dictsort:"number" %}
                                              <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{container.number}}</td>
                                                <td>{{container.cont_size}}</td>
                                                <td>{{container.cont_type}}</td>
                                                <td>{{container.temperature|default_if_none:"nothing"}}</td>
                                                <td>{{container.vent2|default_if_none:""}}</td>
                                                <td>{{container.stowage|default_if_none:""}}</td>
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                          </table>
                                        </div> <!-- table-responsive-md -->
                                        <!-- End Container Detail -->

                                    <!-- Attached files -->
                                    <div class="row">
                                        
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                                            <div class="card ">
                                                {% if object.shorefile1 %}
                                                <img class="card-img-top" 
                                                    src="{{object.shorefile1.url}}" alt="Card image cap">
                                                    {% endif %}
                                                    <div class="card-body">
                                                <h5 class="card-title">
                                                    <a href="{% url 'shorepass:file1' object.pk %}">แนบเอกสาร1 <i class="fas fa-file-invoice"></i></a></h5>
                                                </div>
                                            </div>
                                        </div>
                                     

                                        

                                        
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                                            <div class="card ">
                                                {% if object.shorefile2 %}
                                                <img class="card-img-top" 
                                                    src="{{object.shorefile2.url}}" alt="Card image cap">
                                                    {% endif %}
                                                <div class="card-body">
                                                <h5 class="card-title">
                                                    <a href="{% url 'shorepass:file2' object.pk %}">แนบเอกสาร2<i class="fas fa-file-invoice"></i></a></h5>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- End Attached file-->

                                    <!-- Start Execute -->
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                                              {% if perms.shorepass.verify_shore or perms.shorepass.execute_job  %}
                                              <div> 
                                              <a href="{% url 'shorepass:message' object.id %}">
                                                <button type="button" class="btn btn-danger">Contact back</button>
                                                </a>  
                                            </div>  
                                            <div>
                                                <a href="{% url 'shorepass:execute' object.id %}">
                                                    <button type="button" class="btn btn-info">Execute Job</button>
                                                </a>
                                            </div>
                                              {% endif %}
                          
                                              {% if object.execute_job %}
                                                <hr>
                                                Executed by : {{object.execute_by}} on {{object.execute_date}}
                                              {% endif %}
                                              </div>
                                          </div>
                                          <!-- End Execute -->

                                        </div>
                                    <!-- End Container -->

                            </div> <!-- card-body-->
                        </div><!-- End Card-->
                    </div>
                </div><!-- col-12 mb-2-->
            </div><!-- End col-sm-12 col-md-12--->
            
        </div><!-- End Container-->
    </v-app>
</div>
{% endblock %}


{% block style %} 
<style type="text/css">
	a:link {
        text-decoration: none;
        color: black;
      }
</style>
{% endblock style %}


{% block script %}
  <script>
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
        }//End data
    })//End Vue
  </script>
{% endblock %}