Django==3.0.7
djangorestframework
markdown
django-filter
django-import-export
gunicorn==19.9.0
django-environ
urllib3
django-cors-headers
six
django-crispy_forms
django-redis
django-debug-toolbar
#For QR cand Barcode
python-barcode==0.10.0
PyQRCode==1.2.1
pypng==0.0.20
crcmod==1.7
##################
django-q
redis
requests